<div class="el-element el-element-top-subheading-main el-element-top-subheading-{{ section.id }}">
<div class="el-element-top-subheading el-font-{{ section.settings.font_type_subheading }}">{{ section.settings.subheading }}</div>
</div>