<div class="el-element el-element-text-main el-element-top-text-{{ section.id }}">
<div class="el-element-top-text el-font-{{ section.settings.font_type_text }}">{{ section.settings.text }}</div>
</div>