<div class="el-element el-element-top-heading-main el-element-{{ section.id }}">
<h2 class="el-element-top-heading el-font-{{ section.settings.font_type_heading }}">{{ section.settings.heading }}</h2>
</div>