{%  if block.settings.menu != blank %}
<div class="el-element el-element-mobile-menu-button el-hide-desktop">
<button class="el-mobile-menu-button">{{ block.settings.button_code }}</button>
</div>
{% endif %}