<div class="el-element el-element-liquid-main {{ block.settings.custom_class }} el-element-{{ block.id }}"{% if block.settings.custom_id != blank %} id="{{ block.settings.custom_id }}"{% endif %}>
<div class="el-element-liquid">{{ block.settings.liquid }}</div>
</div>