/* common css */
body {
    display: block;
}
@media (max-width:915px) {
  .el-hide-mobile {
    display:none !important;
  }
}
@media (min-width:915px) {
  .el-hide-desktop {
    display:none !important;
  }
}
.el-slider-main:not(.slick-initialized) {
  display:flex;
}
html {
    scroll-behavior: smooth;
}
p {
    margin: unset;
    padding: unset;
}
* {
    color: unset;
    letter-spacing: unset;
    margin: unset;
    padding: unset;
}
h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5 {
    color: unset;
    letter-spacing: unset;
    margin: unset;
    padding: unset;
}
.el-text-left-desktop {
    text-align: left;
    justify-content: left;
}
.el-text-center-desktop {
    text-align: center;
    justify-content: center;
}
.el-text-right-desktop {
    text-align: right;
    justify-content: right;
}
img, video {
    max-width: 100%;
    display: block;
    height: auto;
}

.el-no_buttons .slick-arrow {
    display: none !important;
}

.el-same-height-slider .slick-slide {
    height: inherit !important;
}
.el-same-height-slider .slick-track {
    display: flex;
}
.el-loading:after {
    content: "";
    width: 100%;
    height: 100%;
    background: url( https://cdn.shopify.com/s/files/1/0789/0570/4766/files/loading.gif?v=1736941696 );
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.el-loading {
    color: transparent !important;
    position: relative;
}
svg, img, video {
    display: inline-block;
}
* {
    box-sizing: border-box;
}
.el-video-wrapper.active img, 
.el-video-wrapper.active .el-play-button {
    display: none;
}
.el-relative {
    position: relative;
}
.el-container {
    max-width:100%;
    width:var(--el-container-width);
    padding-left:50px;
    padding-right:50px;
    margin-left:auto;
    margin-right:auto;
}

body, .el-font-body  {
  font-family:var(--el-body-font);
}
.el-font-heading{
  font-family: var(--el-heading-font);
}

@media (max-width:915px) {
.el-text-left-mobile {
    text-align: left;
    justify-content: left;
}
.el-text-center-mobile {
    text-align: center;
    justify-content: center;
}
.el-text-right-mobilep {
    text-align: right;
    justify-content: right;
}
.el-container {
    padding-left:15px;
    padding-right:15px;
}
}
/* end of common css */



/* common css */
.scrolbar1_custom .flex_custom_item_flex span, .top_scroll_bar_custom.center .flex_custom_item_flex span {
    white-space: nowrap;
}
.product-main-slider:not(.slick-initialized) {
  display:flex;
}
.product-main-slider:not(.slick-initialized) .product_images:not(:first-child){
  display:none !important;
}
body {
    display: block;
}
@media (max-width:915px) {
  .desktop_only {
    display:none !important;
  }
}
@media (min-width:915px) {
  .mobile_only {
    display:none !important;
  }
}
.custom_slick_slider:not(.slick-initialized) {
  display:flex;
}

html {
    scroll-behavior: smooth;
}
p {
    margin: unset;
    padding: unset;
}
* {
    padding: 0;
    margin: 0;
    letter-spacing: unset;
    color: unset;
    letter-spacing: 0;
    margin: unset;
    padding: unset;
}
h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5 {
    color: unset;
    letter-spacing: 0;
    margin: unset;
    padding: unset;
}

.left {
    text-align: left;
    justify-content: left;
}
.center {
    text-align: center;
    justify-content: center;
}
.right {
    text-align: right;
    justify-content: right;
}
img, video {
    max-width: 100%;
    display: block;
}

.no_buttons .slick-arrow {
    display: none !important;
}

.same_height_slider .slick-slide {
    height: inherit !important;
}
.same_height_slider .slick-track {
    display: flex;
}
.loading_hk:after {
    content: "";
    width: 100%;
    height: 100%;
    background: url( https://cdn.shopify.com/s/files/1/0789/0570/4766/files/loading.gif?v=1736941696 );
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.loading_hk {
    color: transparent !important;
    position: relative;
}
svg, img, video {
    display: block;
}
* {
    box-sizing: border-box;
}
.video_wrapper_custom.video-active img, 
.video_wrapper_custom.video-active .custom_button.active {
    display: none;
}
.relative {
    position: relative;
}
/* end of common css */




/* font face */

@font-face {
  font-family: "Creato Display";
  src: url('https://cdn.shopify.com/s/files/1/0914/7485/4272/files/CreatoDisplay-Thin.woff');
  font-style: normal;
  font-weight: 100;
  font-display:swap;
}
@font-face {
  font-family: "Creato Display";
  src: url('https://cdn.shopify.com/s/files/1/0914/7485/4272/files/CreatoDisplay-ThinItalic.woff');
  font-style: italic;
  font-weight: 100;
  font-display:swap;
}
@font-face {
  font-family: "Creato Display";
  src: url('https://cdn.shopify.com/s/files/1/0914/7485/4272/files/CreatoDisplay-Light.woff');
  font-style: normal;
  font-weight: 300;
  font-display:swap;
}
@font-face {
  font-family: "Creato Display";
  src: url('https://cdn.shopify.com/s/files/1/0914/7485/4272/files/CreatoDisplay-LightItalic.woff');
  font-style: italic;
  font-weight: 300;
  font-display:swap;
}
@font-face {
  font-family: "Creato Display";
  src: url('https://cdn.shopify.com/s/files/1/0914/7485/4272/files/CreatoDisplay-Regular.woff');
  font-style: normal;
  font-weight: 400;
  font-display:swap;
}
@font-face {
  font-family: "Creato Display";
  src: url('https://cdn.shopify.com/s/files/1/0914/7485/4272/files/CreatoDisplay-RegularItalic.woff');
  font-style: italic;
  font-weight: 400;
  font-display:swap;
}
@font-face {
  font-family: "Creato Display";
  src: url('https://cdn.shopify.com/s/files/1/0914/7485/4272/files/CreatoDisplay-Medium.woff');
  font-style: normal;
  font-weight: 500;
  font-display:swap;
}
@font-face {
  font-family: "Creato Display";
  src: url('https://cdn.shopify.com/s/files/1/0914/7485/4272/files/CreatoDisplay-MediumItalic.woff');
  font-style: italic;
  font-weight: 500;
  font-display:swap;
}

@font-face {
  font-family: "Creato Display";
  src: url('https://cdn.shopify.com/s/files/1/0914/7485/4272/files/CreatoDisplay-Bold.woff');
  font-style: normal;
  font-weight: 700;
  font-display:swap;
}
@font-face {
  font-family: "Creato Display";
  src: url('https://cdn.shopify.com/s/files/1/0914/7485/4272/files/CreatoDisplay-BoldItalic.woff');
  font-style: italic;
  font-weight: 700;
  font-display:swap;
}
@font-face {
  font-family: "Creato Display";
  src: url('https://cdn.shopify.com/s/files/1/0914/7485/4272/files/CreatoDisplay-ExtraBold.woff');
  font-style: normal;
  font-weight: 800;
  font-display:swap;
}
@font-face {
  font-family: "Creato Display";
  src: url('https://cdn.shopify.com/s/files/1/0914/7485/4272/files/CreatoDisplay-ExtraBoldItalic.woff');
  font-style: italic;
  font-weight: 800;
  font-display:swap;
}
@font-face {
  font-family: "Creato Display";
  src: url('https://cdn.shopify.com/s/files/1/0914/7485/4272/files/CreatoDisplay-Black.woff');
  font-style: normal;
  font-weight: 900;
  font-display:swap;
}
@font-face {
  font-family: "Creato Display";
  src: url('https://cdn.shopify.com/s/files/1/0914/7485/4272/files/CreatoDisplay-BlackItalic.woff');
  font-style: italic;
  font-weight: 900;
  font-display:swap;
}

/* end of font face */



body, p {
  font-family:var(--el-body-font);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--el-heading-font);
}



/* header section css start */
.shopify-section.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.el-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.el-header-logo {
    width: 192px;
    max-width: 100%;
}
.el-header-logo img {
    width: 100%;
    height: auto;
}
.el-mobile-menu-button, 
.el-cart-button {
    background: transparent;
    padding: 0;
    border: unset;
    box-shadow: unset;
    cursor: pointer;
}
.el-element-drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    max-width: 100%;
    height: 100%;
    z-index: 11;
    transition: all .5s ease;
}
.el-drawer-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    cursor: pointer;
    z-index: 10;
}
.el-drawer-menu {
    padding-right: 20px;
}
.el-drawer-menu-inner {
    position: relative;
    background: #fff;
    width: 100%;
    max-width: 100%;
    color: #1c1c1c;
    height: 100%;
    padding: 30px 30px;
}
button.el-mobile-menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: unset;
    box-shadow: unset;
    cursor: pointer;
}
.el-drawer-menu-content {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.el-drawer-menu-content .el-element-menu-main {
    flex: 1;
}
.el-drawer-menu-content a {
    width: 100%;
    display: block;
    text-decoration: unset;
    font-size: 18px;
    padding: 12px 0;
}
.el-drawer-menu {
    left: -100%;
}
.el-drawer-menu.active {
    left: 0;
}
.el-header, 
.el-annoucement-bar {
    position: relative;
    z-index: 1;
}



.el-header-logo {
    width: 102px;
    max-width: 100%;
}
.el-menu-list {
    display: flex;
    gap: 30px;
}
.el-menu-list a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}



/* desktop css */
@media (min-width:915px) {
}



/* mobile css */
@media (max-width:915px) {
.el-drawer-menu-content a {
    font-size: 15px;
    padding: 8px 0;
}
.el-drawer-menu-inner {
    padding: 30px 20px;
}
.el-element-annoucement-main {
    gap: 12px;
    font-size: 14px;
    letter-spacing: -0.28px;
    justify-content: center;
}
span.el-countdown-js {
    gap: 6px;
    font-size: 12px;
    letter-spacing: -0.24px;
}
span.el-countdown-js>span {
    padding: 5px 5px 3px;
}
.el-header-logo {
    width: 147px;
    max-width: 100%;
}
.el-header-content svg {
    height: 16px;
    width: auto;
}
}
/* header section css end */



