

/* global css */

.el-rative {
    position: relative;
}
.el-slider-button {
    background: transparent;
    border: unset;
    cursor: pointer;
    padding: 0;
    box-shadow: unset;
}
.slick-disabled circle {
    stroke: #000;
    stroke-opacity: .25;
    fill: unset;
    stroke-width: 1.69px;
}
.slick-disabled path {
    fill: #000;
    fill-opacity: .25;
}



/* section1 css start */
.el-hp-section1-text1 {
    font-size: 52px;
    font-weight: 500;
    line-height: normal;
}
/* section1 css end */