

/* global css */

.el-rative {
    position: relative;
}
.el-slider-button {
    background: transparent;
    border: unset;
    cursor: pointer;
    padding: 0;
    box-shadow: unset;
}
.slick-disabled circle {
    stroke: #000;
    stroke-opacity: .25;
    fill: unset;
    stroke-width: 1.69px;
}
.slick-disabled path {
    fill: #000;
    fill-opacity: .25;
}


/* same css start */
body {
    font-size: 18px;
    line-height: normal;
}
h1 {
    line-height: normal;
    font-size: 120px;
}
.el-button,
.custom_hk_button {
    text-decoration: none;
    font-size: 21px;
    transition: all .3s ease;
    line-height: normal;
    cursor: pointer;
    height: 55px;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    background: #263245;
    padding: 0 30px;
    border-radius: 10px;
    border: 2px solid #263245;
    font-family: var(--el-body-font);
    font-weight: 500;
    color: #fff;
}
.el-button:hover,
.custom_hk_button:hover {
    background: transparent;
    color: #263245;
}
.el-btn-white .el-button {
    background: #F0F0F0;
    color: #263245;
    border-color: #F0F0F0;
}
.el-btn-white .el-button:hover {
    background: transparent;
    color: #F0F0F0;
}
.container_hk {
    width: 1508px;
    max-width: 100%;
    margin: 0px auto;
    padding-left: 50px;
    padding-right: 50px;
}
.h1 {
    font-size: 52px;
    line-height: 65px;
    text-transform: capitalize;
}
/* same css end */



/* section1 css start */
.el-hp-section1-text1 {
    font-size: 52px;
    font-weight: 500;
    line-height: normal;
}
.el-hp-section1-text {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
.el-hp-section1-text2 {
    padding: 12px 0px 0px;
}
.el-hp-section1-text3 .el-element-richtext {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.el-hp-section1-text3 {
    padding-bottom: 30px;
    padding-top: 21px;
}
/* section1 css end */



/* section2 css start */
.el-hp-section1 .reviews_center_slider_new {
    padding-top: 25px;
}
.el-hp-section1 .slider_navigations.center {
    display: none !important;
}
/* section2 css end */



/* section3 css start */
.el-section3-button {
    width: fit-content;
}
.el-section3-text1 {
    display: flex;
    flex-direction: column;
    padding: 25px 0px 30px;
    gap: 21px;
}
.el-section3-button2 {
    padding-top: 21px;
}
.el-section3-button2 .custom_hk_button {
    background: transparent;
    color: #263245;
}
.el-section3-button2 .custom_hk_button:hover {
    background: #263245;
    color: #fff;
}
.el-hp-section3 .custom-flex_two_ad {
    justify-content: space-between;
}
.el-hp-section3 .custom-flex_two_ad .custom-flex_item_ad_1 {
    width: 42%;
    max-width: 100%;
    padding-top: 41px;
}
/* section3 css end */



/* section4 css start */

/* section4 css end */