

/* global css */

.el-rative {
    position: relative;
}
.el-slider-button {
    background: transparent;
    border: unset;
    cursor: pointer;
    padding: 0;
    box-shadow: unset;
}
.slick-disabled circle {
    stroke: #000;
    stroke-opacity: .25;
    fill: unset;
    stroke-width: 1.69px;
}
.slick-disabled path {
    fill: #000;
    fill-opacity: .25;
}


/* same css start */
body {
    font-size: 18px;
    line-height: normal;
}
h1 {
    line-height: normal;
    font-size: 120px;
}
.el-button,
.custom_hk_button {
    text-decoration: none;
    font-size: 21px;
    transition: all .3s ease;
    line-height: normal;
    cursor: pointer;
    height: 55px;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    background: #263245;
    padding: 0 30px;
    border-radius: 10px;
    border: 2px solid #263245;
    font-family: var(--el-body-font);
    font-weight: 500;
    color: #fff;
}
.el-button:hover,
.custom_hk_button:hover {
    background: transparent;
    color: #263245;
}
.el-btn-white .el-button {
    background: #F0F0F0;
    color: #263245;
    border-color: #F0F0F0;
}
.el-btn-white .el-button:hover {
    background: transparent;
    color: #F0F0F0;
}
.container_hk {
    width: 1508px;
    max-width: 100%;
    margin: 0px auto;
    padding-left: 50px;
    padding-right: 50px;
}
.h1 {
    font-size: 52px;
    line-height: 65px;
    text-transform: capitalize;
}
.slider_navigations.center {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 40px;
}
ul.slick-dots {
    display: flex;
    list-style-type: none;
    gap: 12px;
}
ul.slick-dots li button {
    background: transparent;
    border: 2px solid #263245;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 0px;
    cursor: pointer;
}
ul.slick-dots li {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.slick-dots li.slick-active button {
    background: #263245;
}
.slider_button_custom svg {
    border-radius: 5px;
    width: 40px;
    height: unset;
}
.slider_button_custom svg rect {
    fill: #263245;
    fill-opacity: 1;
}
.slider_button_custom svg path {
    stroke: #fff;
}
.slider_button_custom {
    cursor: pointer;
}
/* same css end */



/* section1 css start */
.el-hp-section1-text1 {
    font-size: 52px;
    font-weight: 500;
    line-height: normal;
}
.el-hp-section1-text {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
.el-hp-section1-text2 {
    padding: 12px 0px 0px;
}
.el-hp-section1-text3 .el-element-richtext {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.el-hp-section1-text3 {
    padding-bottom: 30px;
    padding-top: 21px;
}
/* section1 css end */



/* section2 css start */
.el-hp-section1 .reviews_center_slider_new {
    padding-top: 25px;
}
.el-hp-section1 .slider_navigations.center {
    display: none !important;
}
/* section2 css end */



/* section3 css start */
.el-section3-button {
    width: fit-content;
}
.el-section3-text1 {
    display: flex;
    flex-direction: column;
    padding: 25px 0px 30px;
    gap: 21px;
}
.el-section3-button2 {
    padding-top: 21px;
}
.el-section3-button2 .custom_hk_button {
    background: transparent;
    color: #263245;
}
.el-section3-button2 .custom_hk_button:hover {
    background: #263245;
    color: #fff;
}
.el-hp-section3 .custom-flex_two_ad {
    justify-content: space-between;
}
.el-hp-section3 .custom-flex_two_ad .custom-flex_item_ad_1 {
    width: 42%;
    max-width: 100%;
    padding-top: 41px;
}
/* section3 css end */



/* section4 css start */
.el-section4-list1 .icons_with_text_flex {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.el-section4-list1 .icons_with_text_flex .icons_with_text_item {
    width: calc(33.3% - (30px)*2/3);
}
.el-section4-list1 .icons_with_text_flex .icons_with_text_item img {
    height: 200px;
    width: auto;
    object-fit: contain;
    margin: 0px auto;
}
.el-section4-list1 .icons_with_text_flex .icons_with_text_item span {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 79%;
    margin: 0px auto;
}
.el-section4-list1 .icons_with_text_flex .icons_with_text_item span strong {
    display: block;
    font-size: 25px;
    padding-top: 10px;
    line-height: normal;
}
/* section4 css end */



/* video css start */
.column_slider_rating_top a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    gap: 9px;
    line-height: normal;
    font-weight: 500;
    padding-bottom: 16px;
}
.videos_slider_item {
    padding: 0px 12px;
    cursor: grab;
}
.video_wrapper_custom {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.videos_top_slider.center {
    padding-bottom: 40px;
}
.video_wrapper_custom img {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    cursor: pointer;
}
.custom_button {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.custom_button span {
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff42;
    height: 50px;
}
.video_wrapper_custom video, 
.video_wrapper_custom img {
    cursor: pointer;
    aspect-ratio: 365/458;
    object-fit: cover;
}
.videos_slider_item .video_text_slider_new p:nth-child(1) {
    text-align: left;
    font-size: 20px;
    line-height: normal;
}
.videos_slider_item .video_text_slider_new p:nth-child(2) {
    font-size: 16px;
    text-align: left;
    opacity: 0.5;
}
.videos_slider_item .video_text_slider_new {
    padding: 20px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.video_slider_custom .container_hk {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.video_slider_custom .slick-list.draggable {
    padding: 0px 12%;
    margin: 0 -12px;
}
/* video css end */



/* img slider bar css start */
.el-hp-img-slider .flex_custom_item_flex img {
    height: 290px;
    width: auto;
    object-fit: contain;
    margin: 0 10px;
    border-radius: 10px;
}
/* img slider bar css end */



/* section7 css start */
.el-section7-list1 .icons_with_text_flex {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding-top: 40px;
}
.el-section7-list1 .icons_with_text_flex .icons_with_text_item {
    width: calc(25% - 18.75px);
    display: flex;
    flex-direction: column;
    gap: 21px;
    border: 1px solid #0b0b0b1f;
    border-radius: 10px;
    padding: 12px;
    background: #fff;
}
.el-section7-list1 .icons_with_text_flex .icons_with_text_item img {
    aspect-ratio: 281/281;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.el-section7-list1 .icons_with_text_flex .icons_with_text_item .icon_svg_main {
    display: none;
}
.el-section7-list1 .icons_with_text_flex .icons_with_text_item span p:nth-child(1) {
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 12px;
}
.el-section7-list1 .icons_with_text_flex .icons_with_text_item span p:nth-child(2) {
    border-radius: 10px;
    background: #f0f0f0;
    font-size: 16px;
    padding: 14px 14px;
}
/* section7 css end */



/* faq css start */
.faq_center {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.faq_center_main {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}
.faq_slider_item {
    background: #f0f0f0;
    border-radius: 10px;
}
.faq_question {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: normal;
    font-size: 21px;
    padding: 16px;
    font-weight: 500;
}
.faq_question:after {
    content: "+";
}
.faq_question.active:after {
    content: "-";
}
.faq_answer {
    font-size: 18px;
    line-height: normal;
    padding: 0px 16px 16px;
}
/* faq css end */



/* footer css start */
.el-footer-section .el-footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.el-footer-logo img {
    width: 131px;
}
.el-footer-logo {
    width: 30%;
}
.el-footer-menu {
    width: 21%;
}
.el-footer-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 18px;
    line-height: normal;
}
.el-footer-menu ul a {
    text-decoration: none;
    text-transform: capitalize;
}
.el-footer-menu p {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 16px;
}
.el-footer-logo .el-element-texts {
    font-size: 21px;
    width: 90%;
    padding-top: 25px;
}
.el-footer-copyright {
    opacity: 0.7;
    font-size: 16px;
    padding-top: 25px;
}
/* footer css end */